@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

$color-primary: #12664F;
$color-primary-light: #0CF574;
$color-secundary: #4A38BC;
$color-secundary-light: #6153CC;
$color-dark: #242331;
$color-black: #000;
$color-light: #C1CAD6;
$color-white: #FFF;
$color-background: #FFF;

$font-title: 3rem;
$font-subtitle: 2rem;
$font-text: 1.2rem;

$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-xss: 10px;

* {
	//border: solid 1px red;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 150vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Noto Sans', sans-serif;
	background-color: var(--color-background);
}

body.theme-light {
	--color-background: #{$color-white};
}

body.theme-dark {
	--color-background: #{$color-light};
}

@media screen and (max-width: 320px) {
	body {
		font-size: $font-size-xss;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	body {
		font-size: $font-size-xs;
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	body {
		font-size: $font-size-sm;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	body {
		font-size: $font-size-md;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
	body {
		font-size: $font-size-lg;
	}
}

@media screen and (min-width: 1440px) {
	body {
		font-size: $font-size-lg;
	}
}