@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

$color-primary: #12664f;
$color-primary-light: #188b6c;
$color-secundary: #4a38bc;
$color-secundary-light: #6252cb;
$color-dark: #242331;
$color-black: #000;
$color-light: #ebebeb;
$color-white: #fff;

$font-title: 2.5rem;
$font-subtitle: 2rem;
$font-text: 1.2rem;

$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-xss: 10px;

* {
	//border: solid 1px red;
	font-family: 'Noto Sans', sans-serif;
}

html{
	width:100%;
	overflow-x: hidden;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	transition: all 0.3s;
	* {
		transition: all 0.3s ease-out;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--color-background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-primary-light);
	height: 50px;
	transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-primary);
}

:root {
	--color-white: #{$color-white};
	--color-black: #{$color-black};
}

body.theme-light {
	--color-primary: #{$color-primary};
	--color-primary-light: #{$color-primary-light};
	--color-secundary: #{$color-secundary};
	--color-secundary-light: #{$color-secundary-light};
	--color-background: #{$color-white};
	--color-background-secundary: #{$color-dark};
}

body.theme-dark {
	--color-primary: #{$color-secundary};
	--color-primary-light: #{$color-secundary-light};
	--color-secundary: #{$color-primary};
	--color-secundary-light: #{$color-primary-light};
	--color-background: #{$color-dark};
	--color-background-secundary: #{$color-white};
}

@media screen and (max-width: 320px) {
	body {
		font-size: $font-size-xss;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	body {
		font-size: $font-size-xs;
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	body {
		font-size: $font-size-sm;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	body {
		font-size: $font-size-md;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
	body {
		font-size: $font-size-lg;
	}
}

@media screen and (min-width: 1440px) {
	body {
		font-size: $font-size-lg;
	}
}

@media screen and (max-width: 768px) {
	::-webkit-scrollbar {
		width: 0px;
	}
}
