@import './constants';

header {
	background-color: $color-primary;
	width: 100%;
	height: 10vh;
	padding: 0 2%;
	display: flex;
	align-items: center;

	.header-title {
		color: $color-white;
	}
}

footer {
	margin-top: auto;
	height: 15vh;
	width: 100%;
	background-color: $color-light;
	display: flex;
	justify-content: space-around;
	align-items: center;

	.footer-link {
		height: 100%;
		flex: 1;
		display: flex;
		align-items: center;
		margin-left: 5%;

		.link-img {
			height: 80%;
		}
	}

	.footer-authors {
		flex: 2;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
